/* vietnamese */
@font-face {
    font-family: 'chunkfive';
    src: url(Chunkfive.woff2) format('woff2');
  }
  /* latin-ext */
  @font-face {
    font-family: 'greatvibes';
    src: url(greatvibes.woff2) format('woff2');
  }
  *{
    z-index: 1;
  }
 .cycy li{
  list-style: none;
  padding-top: 10px;
 }
 .cycy a{
  text-decoration: none;
  color:#919191 ;  
 }
 .cycy{
  width: 240px !important;
  height: 165px;
  background-color: rgb(51, 51, 51);
  padding: 10px 15px;
  position:absolute;
  right:40px;
  top:60px;
  opacity:0;
  font-size: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 3px 6px 3px rgb(0 0 0 / 24%);
 }
 .cycy2{
    opacity:1;
 }
 .message{
  width: 100px;
  height: 100px;
  background: #000;
  border-radius: 50%;
 }
.header{
    height: 94px;
    background-color: #333333;
    position:relative;
}
.text{
    height: 492.75px;
    background: url("/src/assets/img/rs=w_1535\,m.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}
.making{
    height: 321.59px;
    background-color: black;
}
a{
  text-decoration: none;
}

.tourne {
  animation-name: tourne;
  animation-timing-function: ease;
  animation-fill-mode: infinite;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@keyframes tourne {
  50%{
    transform: rotateZ(256deg);
  }
}