/* vietnamese */
@font-face {
    font-family: 'chunkfive';
    src: url(./html&css/vendor/@fortawesome/fontawesome-free/webfonts/Chunkfive.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'greatvibes';
    src: url(./html&css/vendor/@fortawesome/fontawesome-free/webfonts/greatvibes.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
 
.header{
    height: 94px;
    background-color: #333333;
}
.text{
    height: 492.75px;
    background: url("/src/assets/img/rs=w_1535\,m.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}
.making{
    height: 321.59px;
    background-color: black;
}

